{deps, [
        {'jesse', ".*", {git, "git@github.com:klarna/jesse.git", "master"}},
        {'jsx', ".*", {git, "https://github.com/talentdeficit/jsx.git", "master"}},
        {proper, ".*", {git, "git://github.com/manopapad/proper.git", {branch, "master"}}}
       ]}.

{cover_enabled, true}.

{clean_files, ["test/*.beam"]}.
