{deps, [
        {'jesse',  ".*", {git, "https://github.com/klarna/jesse.git", {tag, "1.1.5"}}},
        {'jsx',    ".*", {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}},
        {'proper', ".*", {git, "https://github.com/manopapad/proper.git", {branch, "master"}}}
       ]}.

{cover_enabled, true}.

{clean_files, ["test/*.beam"]}.
